<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regex Clone</title>
</head>
<body>
    <h1>Welcome to the Regex101.com clone</h1>
    <form method="post">
        <label>Target String</label><br>
        <textarea name="target" placeholder="Enter string to find the pattern"></textarea><br><br>
        <label>Regex</label><br>
        <input type="text" name="regex" placeholder="Enter Regular expression"><br><br>
        <button>Apply</button>
    </form>
   {% if lst %}
        <h2>Matches ({{ lst|length }}):</h2>
        <ul>
            {% for match in lst %}
                <li>{{ match }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>